*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-image: linear-gradient( transparent 25%, hsl(270, 3%, 87%) 0%), url(./images/bg-main-mobile.png);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: contain;
  font-size: 15px;
}

.card-front{
  position: absolute;
  top: 7rem;
  left: 1rem;
  background-image: url(./images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: white;
  width: 285px;
  height: 140px;
  border-radius: 5px;

}

.card-front-logo{
  position: relative;
  top: 15px;
  left: 20px;
  height: 25px;
}

.card-front-card-number{
  position: relative;
  top: 30px;
  left: 20px;
  font-size: 1.1rem;
  letter-spacing: 2px;
}

.card-front-name{
  position: relative;
  top: 26px;
  left:21px;
  
  font-size: .7rem;
}

.card-front-exp{
  position: relative;
  top: 1px;
  left: 200px;
  font-size: .7rem;
  margin-bottom: 1.3rem;
}


.card-back{
  position: relative;
  background-image: url(./images/bg-card-back.png);
  width: 280px;
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
  top: 1.1rem;
  left: 4.3rem;
  z-index: -1;
}

.card-security{
  font-size: .7rem;
  color: white;
  position: relative;
  top:4.3rem;
  left: 14.3rem;
}

.spacing-title{
  margin-left: .4rem;
}

.card-info{
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.card-info input{
  margin-top: 10px;
  padding-left: .7rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: .8rem;
  border: 1px solid hsl(279, 6%, 55%);
  border-radius: 5px;
  outline: none;
}

.card-info-title{
  text-transform: uppercase;
  font-size: .8rem;
  color: rgb(33, 9, 47);
  letter-spacing: 1.2px;
  font-weight: 500;
  grid-area: exp-title;
}

.title-space{
  margin-top: 20px;
}

.extra-info{
  display: grid;
  grid-template-columns: 1fr  ;
  grid-template-rows: auto;
  grid-template-areas: 
  "info-date cvc";
  gap: .5rem;
}

.info-date{
  grid-area: info-date;
  display: grid;
  grid-template-columns: minmax(80px, 1fr)  minmax(80px, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "exp-title exp-title"
    "exp-month exp-year";
}

.date-year{
  margin-top: .5rem;
  display: flex;
  gap: .5rem;
}

#exp-month{
  margin-top: 5px;
  grid-area: exp-month;
}

#exp-year{
  margin-top: 5px;
  grid-area: exp-year;
}

.cvc{
  grid-area: cvc;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#cvc-number{
  margin-top: 5px;
}

.submit-button{
  background-color: hsl(278, 68%, 11%);
  color: white;
  padding: 1rem 0;
  border-radius: 10px;
  border-style: none;
  margin-top: 1.5rem;
}

.attribution{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.no-error{
  display: none;
}

.error{
  color: red;
  margin-top: 3px;
  font-size: .7rem;
}

@media screen and (min-width: 1024px) {
  body{
    background-image: linear-gradient( to right, transparent 30%, hsl(270, 3%, 87%) 0%), url(./images/bg-main-desktop.png);
    background-size: cover;
  }  
}

@media screen and (max-width: 330px) {
  body{
    background-size: cover;
    background-position: 40% 0%;
  }  
}
